@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@700&family=Poppins&family=Ubuntu&display=swap');
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Spartan', sans-serif;
                
            }
            /* Info card mein style apply kiya hi nahi hai to css se kr ky dekh chuka hn us din 
            write a code here, display:flex, flex by default row hi hota hai , likhnay ki need nahi
            classes could overlap,   */
            
            body {
                width: 100%;
                background: aliceblue;
            }
            .top-header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
            }
            
            .top-header .right{
                margin-right: 30px;
            }
            .top-header .right a{
                margin : 0 7px;
            }
            .top-header p{
                font-size: 20px;
               margin-left: 65px;
               letter-spacing: 0.1rem;
               font-weight: 700;
            }
            .Social-link a{
                margin: 0 5px;
            }
            .card-text p{
                margin-bottom: 3px !important;
            }
            .col-style{
                display:flex;
            }
           
         /* .silder{
            width:80%;
            margin:auto;
            padding:20px 0;
           
         }    */

         .card{
           width: 18rem;

         }

         .infoCard .container{
            display :flex !important;
         }