@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@700&family=Poppins&family=Ubuntu&display=swap');
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Spartan', sans-serif;
                
            }
            /* Info card mein style apply kiya hi nahi hai to css se kr ky dekh chuka hn us din 
            write a code here, display:flex, flex by default row hi hota hai , likhnay ki need nahi
            classes could overlap,   */
            
            body {
                width: 100%;
                background: aliceblue;
            }
            .top-header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
            }
            
            .top-header .right{
                margin-right: 30px;
            }
            .top-header .right a{
                margin : 0 7px;
            }
            .top-header p{
                font-size: 20px;
               margin-left: 65px;
               letter-spacing: 0.1rem;
               font-weight: 700;
            }
            .Social-link a{
                margin: 0 5px;
            }
            .card-text p{
                margin-bottom: 3px !important;
            }
            .col-style{
                display:flex;
            }
           
         /* .silder{
            width:80%;
            margin:auto;
            padding:20px 0;
           
         }    */

         .card{
           width: 18rem;

         }
         
 
 .wrapper {
    margin: 2rem;
    display: grid;
    gap: 6rem;
    grid-template-columns: 1fr;
    justify-content: start;
}
.card {
    box-shadow: 0 0 10px 5px #e1e5ee;
    border-radius: 0.2rem;
    min-width: 28rem;
    display: flex;
}
.card__img {
    width: 14rem;
    height: 11rem;
    object-fit: cover;
}
.card__body {
    margin: 1rem;
    flex-grow: 1;
}
.card__title {
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
}
.card__phone {
    line-height: 1.2rem;
}
.card__Email {
    font-size: 1.4rem;
    margin-top: 0.6rem;
}

.card__btn {
    border: none;
    border-top: 1px solid #e1e5ee;
    background-color: transparent;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    color: inherit;
    width: 100%;
    padding-top: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
.card__btn:hover {
    color: #0e48fe;
}
@media screen and (min-width: 600px) {
    .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
   }
    .card {
        flex-direction: column;
        text-align: center;
        min-width: 14rem;
   }
    .card__img {
        width: 100%;
        height: 12rem;
   }
}


         .infoCard .container{
            display :flex !important;
         }