@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@700&family=Poppins&family=Ubuntu&display=swap');
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Spartan', sans-serif;
                
            }
            
            body {
                width: 100%;
                background: aliceblue;
            }
              
         .silder{
            width:80%;
            margin:auto;
            padding:20px 0;
           
         }   